body{
    margin: 0;
    padding: 0;
}
#root{
    height: 100vh;
    width: 100vw;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello{
    font-size: 50px;
    font-weight: bold;
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.container{
    height: 70vh;
    width: 40vw;
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
